---
import Layout from "@components/Layout.astro";
import CardArtista from "@components/CardArtista.astro";
import Rainbow from "@components/Rainbow.astro";
import { README_CADASTRO_ARTISTAS } from "../../consts";

// const spreadsheet =
//   await "https://script.google.com/macros/u/1/s/AKfycbx12_0jtAOT-ukc8-dZ_uF_uGotvVQsuodpjSEisUVBNMRBoemWtX0pMQiTfVaud7jPdw/exec";

// V1: use opensheet (https://github.com/benborgers/opensheet#readme)
const response = await fetch(
  "https://opensheet.elk.sh/10Z76kagnJ-8Yg5OnsFlsNYuSHNvYO5X0-ufwZp4lxSc/Artistas"
);
const artistas_json = await response.json();
const artistas = artistas_json.map((artista: any) => ({
  name: artista.name,
  image: artista.image,
  links: Object.fromEntries(
    Object.entries(artista).filter(
      ([key, value]) => ["name", "image"].includes(key) === false
    )
  ),
}));

// V2: use our app scripts directly (not working for some reason)
// const response = await fetch("https://script.google.com/macros/u/1/s/AKfycbx12_0jtAOT-ukc8-dZ_uF_uGotvVQsuodpjSEisUVBNMRBoemWtX0pMQiTfVaud7jPdw/exec");
// const { data: artistas } = await response.json();
---

<Layout>
  <Rainbow>Artistas</Rainbow>
  <div class="description">
    <p>
      Aqui está uma lista de pessoas que exploram live coding no Brasil em
      diversos formatos e projetos. Para ser adicionado aqui basta abrir um Pull
      Request seguindo <a href={README_CADASTRO_ARTISTAS} target="blank"
        >estas instruções</a
      >.
    </p>
    <div id="artistList">
      {
        artistas.map((a: any) => (
          <CardArtista
            name={a.name}
            image={a.image}
            website={a?.links?.website}
            twitter={a?.links?.twitter}
            github={a?.links?.github}
            instagram={a?.links?.instagram}
          />
        ))
      }
    </div>
  </div>
</Layout>
