---
import Layout from "@components/Layout.astro";
import Rainbow from "@components/Rainbow.astro";
import { SITE_TITLE } from "../consts";
---

<Layout>
  <Rainbow>{SITE_TITLE}</Rainbow>
  <p class="description">
    Somos uma comunidade brasileira dedicada ao estudo de <a
      href="https://en.wikipedia.org/wiki/Live_coding">Live Coding</a
    > e semelhantes práticas artísticas. Somos músicxs, artistas, pesquisadorxs e
    tecnólogxs apaixonadxs por tecnologia criativa.
    <br />
    <br />
    Visamos trocar conhecimento, promover eventos, construir coisas legais e receber
    novos membros da comunidade.
    <br />
    <br />
    Temos como referência a <a href="https://toplap.org">TOPLAP</a> e o <a
      href="https://colectivo-de-livecoders.gitlab.io">CLiC</a
    >, comunidades mundiais que se uniram com o mesmo propósito
    <br />
    <br />

    <a href="/entre">Participe</a> da nossa comunidade para mais detalhes enquanto
    construímos nosso perfil e acompanhe nossos canais no <a
      href="https://www.youtube.com/channel/UChqe--qhcErjPjCA9oJgq0w">YouTube</a
    >
    e no <a href="https://www.twitch.tv/algoravebr">Twitch</a> para saber dos eventos
    ao vivo e performances do coletivo Algorave Brasil.
  </p>
</Layout>
