---
import CMS from 'netlify-cms-app'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>
  </head>
  <body>
    <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
    <!-- <script>
      // Initialize the CMS object
      CMS.init()
      // Now the registry is available via the CMS object.
      CMS.registerPreviewTemplate('my-template', MyTemplate)
    </script> -->
  </body>
</html>